@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik&display=swap");
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#134611), to(rgba(19, 70, 17, 0)));
  background: linear-gradient(180deg, #134611 0%, rgba(19, 70, 17, 0) 100%);
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.navigation-menu-item {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.navigation-menu-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #E8FCCF;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.navigation-menu-button:hover,
.container-frame-1-button:hover {
  -webkit-animation: pulsate 3s ease;
          animation: pulsate 3s ease;
}

.navigation-footer {
  padding-top: 50px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navigation-menu-footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation-menu-item-footer {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.register-box {
  max-width: 500px;
  height: auto;
  color: #96E072;
  background-color: #0c0c0c;
  padding: 40px;
  position: relative;
  border-radius: 4px;
}

.register-box-title {
  margin: 0 0 30px;
  padding: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #96E072;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #96E072;
  outline: none;
  background: transparent;
}

.rules {
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.close {
  color: #96E072;
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 48px;
  cursor: pointer;
}

.close:hover {
  color: #fff;
}

/**/
body {
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
}

.navigation-menu-button:hover {
  -webkit-animation: pulsate 3s ease;
          animation: pulsate 3s ease;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #3DA35D, 0 0 50px #E8FCCF;
            box-shadow: 0 0 25px #3DA35D, 0 0 50px #E8FCCF;
  }
}

@keyframes pulsate {
  0% {
    -webkit-box-shadow: 0 0 25px #3DA35D, 0 0 50px #E8FCCF;
            box-shadow: 0 0 25px #3DA35D, 0 0 50px #E8FCCF;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.container-art {
  color: #E8FCCF;
  text-align: center;
  width: 200px;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.accordion {
  color: #E8FCCF;
  width: 700px;
}

.accordion-button {
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  border-bottom: 0.4px solid #fff;
  padding: 8px 16px;
  margin-top: 16px;
}

.accordion-question {
  color: #E8FCCF;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.accordion-content {
  padding-top: 10px;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
/*# sourceMappingURL=style-pages.css.map */